*{
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.center {
  padding-left: calc(50% - 639px);
  padding-right: calc(50% - 639px);
}

.header {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) -7.35%, #000915 100%), url(./img/bg.jpg), lightgray 50% / cover no-repeat;
	height: 1024px;

    &__top-h1 {
        color: #FFF;
	    font-size: 64px;
	    font-weight: 700;
	    padding-top: 217px;
    }

    &__text {
        color: #FFF;
	    font-size: 18px;
	    font-weight: 300; 
	    line-height: 32px; /* 177.778% */
	    margin-top: 32px;
	    margin-bottom: 44px;
    }

    &__top-button {
        border-radius: 30px;
	    border: 1px solid #9C0332;
	    background: #9C0332;
	    width: 234px;
	    height: 48px;
	    cursor: pointer;
	    color: #FFF;
	    font-size: 18px;
	    font-style: inherit;
	    font-weight: 400;
    }
}

.footer {
	background-image: url(./img/footer.jpg);

    &__content {
        display: flex;
	    gap: 32px;
	    flex-wrap: wrap;
	    padding-top: 128px;
	    padding-bottom: 128px;
    }

    &__content-item {
        position: relative;
	    max-width: 379px;
	    height: 300px;
    }
}

.item-img {
	border-radius: 20px;
	width: 100%;
	background-repeat: no-repeat;
    background-position: center;
}

.item-text {
	position: absolute;
	top	: 236px;
	left: 32px;
	color: #FFF;
	font-size: 24px;
	font-weight: 600;
	line-height: 32px; /* 133.333% */
}